@page
@model MusicStore.Web.Pages.Genre.IndexModel
<!-- https://www.learnrazorpages.com/razor-pages/handler-methods -->
<br/>
<div class="container row p-0 m-0">
    <div class="col-9">
        <h3 class="text-info">Gener List</h3>
    </div>
    <div class="col-3">
        <a class="btn btn-info form-control text-white" asp-page="Create">Create New</a>

    </div>

    <div class="col-12 border p-3 mt-3">      

            @if (Model.Genres.Count() > 0)
            {

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Genres[0].Name)
                            </th>

                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Genres)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                                                
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                               
                            </tr>
                        }
                    </tbody>
                </table>





            }
            else
            {
                <p>No Genre available.</p>
            }      


    </div>



</div>




